<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mock API Service</title>
    <style>
        h1, body {
            font-family: arial, sans-serif;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h1>Welcome to the example API Service application</h1>
<h3>You have been authenticated and authorised to access this page through an OpenID authentication flow.</h3>
<br>
<table>
    <tr><td>Identity Provider URL</td><td>{{ openid_provider_url }}</td></tr>
    <tr><td>Token Issuer URI</td><td>{{ token_issuer_uri }}</td></tr>
    <tr><td>Token Expires on</td><td>{{ exp_date }}</td></tr>
</table>
<br>
<br>The token issued contains the following claims:
<br>
<table>
    <caption>List of token claims</caption>
    <tr>
        <th>CLAIM</th>
        <th>VALUE</th>
    </tr>
    {% for key, value in claims.items() %}
 
    <tr>
        <td> {{ key }} </td>
        <td> {{ value }} </td>
    </tr>
 
    {% endfor %}
</table>
<br>
<a href="/mock-api/gettoken">Click here to see the access token</a>
<br>
<a href="/mock-api/logout">Click here to logout</a>
</body>
</html>
